/* RenderRollKeyResult() */
.col-critical {color: goldenrod;}
.col-success {color: inherit;}
.col-fail {color:inherit;}
.col-fumble {color: #B22222;}

.ico-success {
  font-size: 75%;
}


.roll-keyval {
    width: 100%;
    margin: 0;
    padding: 0 1rem;
    border: 1px solid lightgray;
    border-radius:3px;
    height:18rem;
}

.roll-keyval p{
    text-align: center;
}

.keyval {
    font-size: 440%;
}

.dr{
    background-image: url("d20ddd.svg");
}
.hp{
    background-image: url("hpddd.svg");
}
.ql {
    background-image: url("qlddd.svg");
}
.dr, .ql, .hp {
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;    
}

.keyresult {
    font-size: 140%;
}


@media only screen and (min-width : 500px) {
    .roll {
        display: flex;
    }
    .roll div {
        flex: 1;
    }
    .roll div:first-child {
        margin:0 auto;
    }
    .roll div:nth-child(2) {
        margin-left: 1rem;
    }
    .roll-keyval {
        margin: 0 32% 0 32%;
        width:auto;
    }
}

/* RenderFumbleRollEffect */
.tooltipped {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgb(51, 51, 51);
  }
  
  .tooltipped .tooltiptext {
    visibility: hidden;
    width: 32rem;
    background-color: rgb(51, 51, 51);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    transition: opacity .6s;
  
    /* Position the tooltip */
    top: 135%;
    left: 50%;
    margin-left: -16rem; /* 32/2 */
    position: absolute;
    z-index: 1;
  }
  
  .tooltipped:hover .tooltiptext {
    visibility: visible;
  }

