
.col-critical {color: goldenrod;}
.col-success {color: inherit;}
.col-fail {color:inherit;}
.col-fumble {color: #B22222;}


.ico-success {
  font-size: 80%;
}

.roll-ab-div {
    margin:0 40% 0 40%;
    min-width: 16rem; 
    border: 1px solid lightgray;
    border-radius:3px;
    height:18rem;
}

